*,
*::after,
*::before {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

li,
ul {
	list-style: none;
	padding: 0px;
}

.container {
	max-width: 30rem;
}

input[type='text'] {
	width: 100%;
}
ul > li {
	display: flex;
	justify-content: space-between;
}
